.question {
  color: #828485;
  font-weight: 400;
}

.opacity {
  opacity: 0;
}
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.fade {
  opacity: 1;
  animation: fadeIn 1s
}

.answers {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 580px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 500px
  }
  @media only screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    max-width: 100%
  }
}