.stats {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  h1 {
    font-weight: 100;
  }
  .percent {
    font-size: 1.5rem;
    overflow: hidden;
    line-height: 1em;
    display: inline-block;
    span {
      font-size: 1.5rem;
      position: relative;
    }
  }
}

@keyframes spinner {
  0% {
    top: -100px;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}
.spin {
  animation: spinner 0.06s 5;
}